{% extends 'core/base.html' %}

{% block content %}

<!-- HERO -->
<div class="bg-warning border-bottom border-dark">
    <div class="container py-5">
      <div class="row">
        <div class="col-sm-6 flex justify-content-center align-items-center">
            <h2 class="displayer-1">Stay Carious</h2>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur.
            </p>
            <a href="" class="btn btn-dark text-light rounded-pill px-5 py-2">Start Reading</a>
          </div>
          <div class="col-sm-6">
          <img src="https://picsum.photos/id/137/600/300" alt="" class="w-100">
        </div>
      </div>  
    </div>
</div>
                                               <!-- HERO END -->

                                                <!-- TRENDS  -->

<section class="container">
<div class="row">
  <div class="col-sm-12 mt-5">
    <h2 class="fs-12">
      <span class="badge text-bg-dark rounded-circle p-2">
      
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/>
      </svg>
    </span>
    BLOGS
    </h2>
  </div>
</div>
<div class="row">


                                             <!-- ARTİCLE1  -->
  {% for top_post in top_posts %}
  
    {% include 'page/components/top_article.html' with count=forloop.counter post=top_post%}
  {% endfor %}
                                          <!-- ARTİCLE1 END -->


                                             

</div>
</section>
<hr>

                                                       <!-- TRENDS  END  -->



                                        <!-- WRİTES -->
                                       
<section class="container mt-5">
<div class="row ">
  <main class="col-sm-7">
        
        {% for post in posts %}
            {% include 'blog/components/post.html' %}
        {% endfor %}
        

          <!-- WRİTES END -->

        


                                                     <!-- ITEMS -->
                                                     
  </main>
  <aside class="col-sm-4 offset-sm-1">
    <h6 class="my-3">Powered items</h6>
    <ul class="list-inline mb-3">
      {% for category in categories %}
      <li class="list-inline-item border p-2 text-muted fs-12 mb-1 rounded">
        <a href="{{ category.get_absolute_url }}" class="link-dark" >
          {{ category.title }}
        </a>
      </li>
      {% endfor %}
     
    </ul>
    <hr>
    <ul class="list-inline mt-3">
      {% for tag in tags  %}
      <li class="list-inline-item">
        <a href="{{ tag.get_absolute_url }}" class="text-decoration-none text-muted fs-14">{{ tag }} </a>
      </li>
      {% endfor %}
    </ul>
  </aside>
  </div>
</section>
                                <!-- ITEMS END -->
{% endblock content %}
{% block script %}
{% include 'common_components/fav_update.html' %}
{% endblock script %}